.profile {

    position: relative;
    width: 80rem;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
}
.profile-content 
{
    width: inherit;
    width: 100%;
    left: 0;
    
}


.profile-content-p {
    margin: 5rem 0;
    color: #e7e7e7;
    font-size: 1.7rem;
    line-height: 2.8rem;
    
}
.profile-content-p:nth-of-type(1) {
    margin-top: 20rem;
}

.profile-content-p:nth-of-type(4) {
    margin-bottom: 80rem;
}

.profile-content-p:not(:first-of-type){
    opacity: .1;
}

.spacer {
    height: 10rem;
}

.bottom-element {
    width: 25rem;
    height: 25rem;
    background-color: red;
}


.profile-callout {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-family: var(--ms-font);
    font-weight: 700;
    letter-spacing: -0.17rem;
    margin: 2.5rem 0;
    display: block;
    opacity: 0;
    filter: blur(2rem);
    margin: 0 auto;
    text-align: center;

}

.profile-callout-left{
    left: 0;
    display: block;

}
.profile-callout-center{
    right: 0;
    left: 0;
    margin: 0 auto;
    display: block;
    text-align: center;

}

.profile-callout-right{
    right: 0;

}
#profile-callout-start {
    opacity: 1;
    filter: unset;
    font-size: 5.5rem;
    top: 125px
}

#profile-callout-1, #profile-callout-start {
    font-size: 3.5rem;

}
#profile-callout-2{
    font-size: 4rem;
}
#profile-callout-3{
    font-size: 25rem;
}
#profile-callout-4{
    font-size: 6.5rem;
    border-top: solid #e7e7e7 1px;
}
#profile-callout-5{
    font-size: 4.5rem;
    border-bottom: solid #e7e7e7 1px;
}
#profile-callout-6{
    font-size: 16rem;
    line-height: 15rem;
}
#profile-callout-7{
    font-size: 5.5rem;
    border-top: solid #e7e7e7 1px;
    border-bottom: solid #e7e7e7 1px;

}

