.profile {

    position: relative;
    width: 80rem;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
    max-width: 100%;
}

.profile-content 
{
    width: inherit;
    width: 100%;
    left: 0;
    padding: 5rem 0 35rem 0;

}

.profile-content-p {
    margin: 7rem 0;
    color: #e7e7e7;
    font-size: 1.7rem;
    line-height: 2.8rem;
    opacity: .2;
  
    
}




.profile-content-p {
    margin: 7rem 0;
    color: #e7e7e7;
    font-size: 1.7rem;
    line-height: 2.8rem;
    opacity: .2;
    
}

.profile-content-section:nth-of-type(1) .profile-content-p{
   opacity: .6;
}


.spacer {
    height: 10rem;
}

.bottom-element {
    width: 25rem;
    height: 25rem;
    background-color: red;
}


.profile-content-section {
    position: relative;
}

.profile-callout, .top-title {
    font-family: var(--ms-font);
    font-weight: 700;
    letter-spacing: -0.17rem;
}

.top-title {
    font-size: 5rem;
    letter-spacing: -0.2rem;
    text-align: center;
    width: 100%;
    display: block;
}

.profile-callout {
    position: absolute;
    font-size: 3rem;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    text-align: center;
    top: 50%;
    height: auto;

}


@keyframes continuousBlur {
    from {
        filter: blur(0)
    }
    to {
        filter: blur(1rem);
    }
}

.profile-callout-left{
    left: 0;
    display: block;

}
.profile-callout-center{
    right: 0;
    left: 0;
    margin: 0 auto;
    display: block;
    text-align: center;

}

.profile-callout-right{
    right: 0;
}
