@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

.root-container {
  position: relative;
  height: 100%;
  min-height: 100vh;
  z-index: 1;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 45vh;
  --header-height-mobile: 100vh;
  --border-style: 1px solid #424242;
  --ms-font: 'pragmatica', sans-serif;
  --ms-font-weight: 700;
  --cropped-content-offset-y: -16rem;
  --cropped-content-offset-x: -10rem;
  --breakpoint-mobile: 48rem;
  --breakpoint-tablet: 76.8rem;
  --breakpoint-main:  var(--breakpoint-mobile);
  --nextui-secondary: #df125d !important;
  // Logo
  --logo-dimension: 20rem;
  --logo-font-size: 10rem;

  --offset-base: 5rem;
  --offset-increment: calc(var(--offset-base) * -1);
  --offset-logo-item: calc(var(--offset-base) * 6);
  --offset-vertical: calc(var(--offset-logo-item) * -1);
  --offset-horizontal: calc(var(--offset-logo-item) * -1);
  --animation-duration: 6.5s;
  // X offsets
  --m-x-offset: var(var(--offset-increment));
  --s-x-offset: -3.5rem;

}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #000000;
//     --foreground: #ededed;
//   }
// }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem ;
  min-height: 100vh;
  position: relative;
  color: #ededed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }


/* Containers */

.ms-container {
  width: 108rem;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.u-hide {
  display: none !important
}

/* content */
.page {
  // background-color: black;
  width: 100%;
  position: relative;
}
.page .ms-container {
  min-height: 100%;

}

.ms-flex-container {
  display: flex;
  
} 


.ms-flex-container div.column{
  border-left: var(--border-style);
  border-right: var(--border-style);
  padding: 1.5rem;
  box-sizing: border-box;
  flex-basis: 25% !important;
  overflow: hidden;
  position: relative;


}
.page .ms-h-flex-container {
  min-height: 100vh;
}


.ms-scrollable-content {
  padding: 5rem 0;
  box-sizing: border-box;
}


.ms-scrollable-content h3, .text-large, .portfolio div h2, button{
  font-family: var(--ms-font);
  font-weight: 700;
}

.ms-scrollable-content h3, .text-large, .portfolio div h2 {
  font-size: 2.7rem;
  font-family: var(--ms-font);
  font-weight: 700;
  letter-spacing: -0.17rem;
  color: white;
}

.ms-scrollable-content p {
  width: 70%;
}
.ms-scrollable-container {
  position: relative;
  min-height: 50rem;
}


hr {
  background-color:rgba(255,255,255,.5) !important;
}


.experience-points {
  margin: 1.5rem 0;
}
.experience-points li{
  list-style: outside;
  color: white;
  
}


.root-container {
  position: relative;
}

.ms-home-screen {
  position: relative;
  z-index: 3;
}

button {
  color: white; 
  padding: 1.5rem;
  font-size: 1.5rem !important;
  color: white !important;
}

.u-transparent {
  opacity: 0;
}

// Scrollbar

// /* width */
// ::-webkit-scrollbar {
//   width: .5rem;

// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: transparent;

// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888;
//   border-radius: .5rem;
//   margin: .5rem;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }

