
.ms-grid-square, 
.ms-h-flex-container, 
.ms-grid-square div, 
.ms-flex-square, 
.ms-flex-row, 
.ms-v-flex-container, 
.ms-flex-square > div {
    display: flex;
}


.ms-flex-row {
    width: 100%;
}
.ms-full-screen-container {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.ms-flex-container {
    display: flex;
}
.ms-grid-square {
    aspect-ratio: 1 / 1;
    flex-basis: 33%;
    width: 30%;
}
.ms-h-flex-container {
    flex-direction: row;
}

.ms-v-flex-container {
    flex-direction: column;
}

.ms-home-screen > .ms-v-flex-container, .ms-v-flex-container > div, .ms-flex-square > div {
    flex: 1;
}

.ms-home-screen > .ms-v-flex-container:nth-child(odd) {
    background-color: #ccc;
}
.ms-home-screen > .ms-v-flex-container:nth-child(even) {
    background-color: #bbb;
}


.ms-h-flex-stretch > .ms-v-flex-container,  .ms-v-flex-container  {
   height: 100vh;
}

.ms-grid-square div {
    justify-content: center;
    align-items: center;
    width: inherit;
    border: solid 1px #ccc;
}


.ms-v-flex-container > .ms-flex-square:nth-child(2){
    border-top: var(--border-style);
}

.ms-home .ms-h-flex-container .ms-v-flex-container:not(:first-child), .ms-flex-square > div:nth-child(2){
    border-left: var(--border-style)
}


@media only screen and (var(--breakpoint-main)) {
    .ms-home .ms-h-flex-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ms-home-screen > .ms-v-flex-container:nth-child(2){
        order: 1;
        flex-basis: 100%;
        height:  75vh;
    
    }
    .ms-home-screen > .ms-v-flex-container:not(:nth-child(2)){
        height: 25vh;
    }
    .ms-home-screen > .ms-v-flex-container:nth-child(1){
        order: 2;
        height: 25vh;
        border-top: var(--border-style);
    }
    .ms-home-screen > .ms-v-flex-container:nth-child(3){
        order: 3;
        height: 25vh;
        border-top: var(--border-style);
    }
}

.footer {
    position: absolute;
    bottom: 0;
    font-family: var(--ms-font);
    color: rgb(110, 110, 110);

    bottom: -2rem;
    width: 100%;
    height: 5rem;
    text-align: center;
    z-index: 4;
    font-size: 1.4rem;
  }