/* PORTFOLIO */

.portfolio {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    z-index: 5;
  }
  
  .portfolio  .ms-flex-container  {
    height: inherit;
    align-items: center;
    width: 95%;
  }
  
  .portfolio-layout {
      aspect-ratio: 16 / 9;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      width: 95%;
      max-width: 100%;
      width: inherit;
  
   }
  
  .instagrid {
    aspect-ratio: 9 / 16;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
  }
  
  .instagrid div {
    display: flex;
    border: var(--border-style);
    aspect-ratio: 1 / 1;
  }
  
  .instagrid > div:first-child {
    width: 100%;
  
  }
  .instagrid > div:not(:first-child) {
    width: 50%;
  }
  .instagrid:nth-child(2) > .item-1 {
    order: 3;
  }

  .portfolio-item {
    overflow:  hidden;
  }
  .portfolio-item img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .portfolio-item  > div:first-child, .portfolio-item  > div:first-child > div, .portfolio-item  > div:first-child > img{
    border: unset;
    border-radius: unset;
    width: 100%;
    overflow: inherit;
  }
  
  .portfolio button {
    color: white;
  }
  .portfolio-item-blurred  > div:first-child > img {
    filter:blur(2rem);
    transform: scale(1.2)
  }
  .portfolio-heading {
    // causing a gap in the header. 
    // margin: 2.5rem 0;
    width: 100%;
    text-align: center;
    width: 100%;
    font-size: 2.7rem;
    font-family: var(--ms-font);
    font-weight: 700;
    letter-spacing: -0.17rem;
    color: white;
    position: relative;
    height: 25rem
  }
  .portfolio-heading h2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
  }
  

  @media only screen and (max-width: 48rem){
    
  }
  
  .bg-content1{
    background-color: #333 !important ;
  }



  @media screen and (max-width: 48rem){
    .page {
      width: 100%;
      position: relative;
      display: flex
;     flex-direction: column;
    }
    .portfolio-layout {
      flex-direction: column;
    }
    .portfolio .ms-full-screen-container {
      overflow: visible;
    }
    .instagrid:nth-child(2) > .item-3 {
      order: 1;
    }
    li.header-link {
        font-size: 4rem;
        line-height: 4rem;

    }
    .contact-page form {
      min-width: 100%;
      margin-bottom: 50px;
    }
    .contact-form-container {
      padding: 0px !important;
    }
    .contact-page form .form-group {
      max-width: 98%;
    }

    .portfolio, .portfolio .ms-flex-container {
      display: block;
      margin: 0 auto;
    }
    .portfolio {
      min-height: unset !important;
      height: auto;
      margin-bottom: 5rem;
    }
  }