.experience-controls {
  width: 100%;
  margin: 3.5rem 0; 
}
.experience-controls > div, .experience-controls > div > div {
  width: inherit;
  min-width: 100%;
}

.experience {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.experience > div {
  padding: 1.5rem;
  box-sizing: border-box;
  flex: 1;
  min-width: 40rem;
}
  
.experience-controls {
  display: flex;
}

.experience h2 {
   margin: .5rem 0;
}
 
.experience h4, .experience h5 {
  font-family: var(--ms-font);
  font-weight: 700;
}

.experience h4 {
  font-size: 2.8rem;
  color: white;
  letter-spacing: -0.17rem;
}
.experience h5 {
  font-size: 2rem;
  color: #e7e7e7;
  opacity: 0.7;
  letter-spacing: -0.12rem;
}

.experience ul {
  margin: 1.5rem;
}

.experience li {
  list-style: disc;
  list-style-position: outside;
}