
.menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    margin: 25px auto;
    width: 200px;
    cursor: pointer;
    z-index: 6;

}

.ms-mega-menu {
    position: absolute;
    height: var(--header-height);
    top: calc(var(--header-height) * -1);
    animation-timing-function: ease-in-out;
    z-index: 5;
    background-color: white;
    width: 100%;
    opacity: 0;

}
.ms-mega-menu-open {
    top: 0;
    opacity: 1;
}
 

li.header-link {
    color: black;
    font-family: var(--ms-font);
    font-weight: 700;
    font-size: 4.5rem;
    letter-spacing: -0.17rem;
    line-height: 5rem;
    cursor: pointer;
    margin-top: 2.5rem;
    opacity: 0;


}
li.header-link > a {
    font-size: inherit !important;
    color: inherit;
    cursor: inherit;
}

header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(var(--header-height));
    padding: 1.5rem;
    box-sizing: border-box;
  
}



.menu span {
    width: 25px;
    display: block;
    border: solid 1px #ccc;
    display: block;
    margin: .5rem auto;
    transition: all .5s;
    animation-timing-function: ease-in-out;
}
.menu-open > span {
    border-color: black;
}
.menu-open > span:first-child{
    transform: rotate(45deg) translateY(5px);
    
}
.menu-open > span:last-child{
    transform: rotate(-45deg) translateY(-5px);;
}


header a {
    cursor: pointer;
}
