.ms-heading {
  height: 35vh;
  transition: .5s;
}


.page-title-main {
    font-family: var(--ms-font);
    font-weight: 700;
    letter-spacing: -0.17rem;
    position: absolute;
    top: 18rem;
    left: 2rem;
    font-size: 3rem;
    z-index: 3;
  
 }
  
  .page-title {
    font-family: var(--ms-font);
    font-size: 10rem;
    font-weight: 700;
    letter-spacing: -0.17rem;
    position: absolute;
    top: 28rem;
    z-index: inherit;
    opacity: 0;

  }
  .page-title-left {
    top: 20rem;
  }
  .page-title-right {
    top: 25rem;
    left: -21rem;
  }
  .page-title-left, .page-title-right {
    transition: .5s;
  }
  .page-title-left:hover, .page-title-right:hover {
    filter:blur(1.5rem);
    opacity: .7;
  }

  @media screen and (max-width: 480px) {
    .ms-heading {
      height: 25vh !important;
      font-size: 5rem !important;
    }
 

    .page-title-main {
      font-size: 4rem !important;
      left: 1.5rem ;
  }
    .page-title-left {
        top: 22rem;
      }

    .page-title-right {
        top: 25rem;
        left: -15rem;
    }
  }