.profile {
  position: relative;
  height: 300vh;
  background: #000;
  color: #fff;
  overflow: visible;
}

.profile-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.profile-words {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: 700;
  line-height: 1.2;
  z-index: 2;
}

.profile-words h1,
.profile-words ul {
  margin: 0;
  padding: 0;
}

.profile-words ul {
  list-style: none;
}

.profile-words li {
  color: rgba(255, 255, 255, 0.22);
}

.profile-words li.active {
  color: hsl(0 100% 75%);
}

.profile-panel {
  position: absolute;
  inset: 0;
  background: #fff;
  color: #000;
  display: grid;
  place-items: center;
  z-index: 3;
//   transform: translateY(100%);
}

.profile-panel p {
  opacity: 0;
  font-weight: 700;
  font-size: clamp(1.5rem, 4vw, 4rem);
}
.pro

.profile-panel a, .profile-panel p > span {
  color: hsl(0 100% 75%);
  text-decoration: none;
}